@charset "utf-8";
.info{
	 height: 256px;
   	 width: 96%;
   	 overflow: auto;
   	 border: 1px solid #ccc;
   	 margin: 15px auto;
   	 padding: 5px;
}
.activities div{
	border: 1px solid #ccc;
	display: inline-block;
	width:23.4786176681518%;
	padding:3px;
}
.activities h4{
	text-align:center;
}
.activities form{
	text-align:center;
}